*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Unbounded', sans-serif;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.cards {
    display: flex;
    gap: 30px;
}

.texts {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 70px;
    h4 {
        font-size: 18px;
        color: #E9C46A;
        font-weight: 700;
    }
    h1 {
        font-size: 36px;
    }
}

.reviews {
    height: 100%;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.card {
    background: url(/assets/img/businessman-sitting-by-table-cafe.jpg);
    background-position: center;
    background-size: cover;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    gap: 25px;
    
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.45);
}

.card-img {
    background-color:rgba(231, 111, 81, 0.85) ;
    display: flex;
    flex-direction: column;
    padding: 25px 45px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    gap: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    z-index: 1;
    img {
        border:5px solid #fff ;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.card-img-text {
    color: #fff;
    text-align: center;

    h5 {
        font-weight: 400;
    }
}

.card-text {
    z-index: 2;
    padding: 30px;

    p {
        color: #fff;
        z-index: 22;
        line-height: 1.5;
        font-weight: 300;
    }

}

.point-stars {
    display: flex;
    align-items: center;
    gap: 3px;

    .bi-star-fill {
        color:#E9C46A ;
    }

    .bi-star {
        color: #fff;
    }
    p {
        font-size: 28px;
        margin-right: 20px;
        color: white;
        font-weight: 700;
    }
}

.footer {
    background: #F4A261;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 450px 450px 0 0;
    border-color: #fff transparent transparent;
}


.form {
    padding: 65px;
    width: 45%;
    border-radius: 16px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    

    h1 {
        text-align: center;
    }

    input {
        color: var(--p-color);
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 40px;
        padding-left: 20px;
        border-radius: 100px;
        width: 100%;
        border: 1px solid #ced4da;
        transition: .3s;
    }
    input:hover {
        border: 1px solid #E76F51;
    }

    button {
        background-color: #F4A261;
        border: none;
        font-size: 16px;
        font-weight: 600;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 40px;
        padding-left: 40px;
        border-radius: 100px;
        color: white;
        transition: all .5s;
    }

}

button:hover {
    background-color: #E76F51;
}

.contact {
    width: 45%;
    padding: 40px;
}

.ebook {
    display: flex;
    gap: 50px;
}

.contact-location-icon {
    display: flex;
    gap: 15px;
    color: white;
    align-items: center;

    h4 {
        color: white!important;
        font-weight: 400;
    }
}

.contact-location {

    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    h4 {
        color: #E9C46A;
        font-size: 20px;
    }

    h2 {
        font-size: 36px;
        font-weight: 700;
    }
    
}

.contact-about {
    color: #fff;
    font-size: 20px;
    line-height: 1.5;

}
.contact-about p {
    transition: .3s;

}

.contact-about p:hover {
    color: #E76F51;
}

.contact-icon {
    
    h4 {
        color: #E9C46A;
        font-size: 20px;
        margin-bottom: 20px;
    }
    p {
        color: white;
    }

    
}

.contact-icon-item {
    background-color: #E9C46A;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
    margin-right: 10px;
    transition: .5s;
}

.contact-icon-item:hover {
    background-color: #E76F51;
}

.contact-icon-group {
    margin-bottom: 40px;
    
}





