.home {
    background-image: url("../../assets/bg_3.jpg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_body_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;

    h1 {
        font-size: 75px;
        line-height: 1.34;
        color: #fff;
        font-weight: 500;
    }

    p {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
        font-family: "Raleway", sans-serif;

        a {
            background: none;
            border-radius: 0px;
            border-width: 2px;
            font-size: 16px !important;
            padding: 13px 40px !important;
            border: 1px solid rgba(255, 255, 255, 0.8);
            color: #fff;
            text-decoration: none;
        }
    }
}

.welcome {
    display: flex;
    margin-top: 40px;
    padding: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.welcome_text {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (max-width:991px) {
        width: 95%;
        text-align: center;
        margin-bottom: 35px;
    }

    h2 {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .5em;
        color: #d4d4d4;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.1;
        color: #000;
    }

    p {
        font-size: 16px;
        line-height: 1.6;
        color: #b8b8b8;
        margin-bottom: 10px;

        a {
            border: 2px solid #ccc;
            background: none;
            border-radius: 0px;
            color: #999999;
            font-size: 16px !important;
            padding: 13px 40px !important;
            text-decoration: none;
        }


    }
}

.welcome_img {
    width: 45%;

    @media screen and (max-width:991px) {
        width: 95%;
        text-align: center;
    }

    img {
        width: 100%;
    }
}

.summer {
    padding: 8em 0;
    background-color: #f8f9fa !important;
}


.summer_text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;

    h2 {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .5em;
        color: #d4d4d4;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.1;
        color: #000;
    }

    p {
        font-size: 1.25rem;
        font-weight: 300;
        color: #b8b8b8;
    }
}

.summer_cards {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

}

.summer_card {
    width: 30%;

    @media screen and (max-width:991px) {
        width: 45%;
    }
    @media screen and (max-width:601px) {
        width: 90%;
    }

    img {
        width: 100%;
    }


}

.summer_card_text {
    padding: 35px;
    text-align: center;

    h4 {
        color: #FDA403 !important;
        font-size: 1.25rem;
    }

    h2 {
        line-height: 1.45;
        color: #000;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 1.5rem;
    }

    p {
        margin-bottom: 1.5rem !important;
        font-size: 16px;
        line-height: 1.6;
        color: #b8b8b8;

        a {
            padding: 10px 20px;
            font-size: 12px;
            background: #FDA403;
            border-color: #FDA403;
            color: #fff;
            text-decoration: none;
        }
    }
}

.filtered {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.gallery {
    display: flex;
    flex-direction: column;

}

.gallery_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    img {
        width: 30%;

        @media screen and (max-width:991px) {
            width: 45%;
        }
        @media screen and (max-width:601px) {
            width: 90%;
        }
    }
}
