* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.counter {
    height: 100vh;
}

.counter-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
        color: rgb(136, 189, 253);
        font-size: 96px;
    }

    p {
        font-size: 96px;
        color: green;
    }

}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.btn {
    background-color: transparent;
    color: white;
    border:2px solid #fff ;
    font-size: 30px;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 10px;
}