*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #Fff;
  z-index: 2;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

