*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1180px;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width:1180px) {
    width: 100%; 
  }
}



