.footer {
  background-color: #6266ea !important;
  padding-top: 1.5rem !important;
  color: #fff !important;

}

.footer-first {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.footer-item-title {
  display: flex;
  gap: 10px;
  align-items: center;

  

  i {
    font-size: 1.55rem !important;
  }

  h4 {
    font-size: 1.25rem;
    color: #f6f9fe !important;
  }
}

.footer-item {
  display: flex;
  width: 25%;
  flex-direction: column;
  gap: 25px;

  p {
    max-width: 300px;
  }

  p {
    @media screen and (max-width:601px) {
      text-align: center;
    }
  }

  

    @media screen and (max-width:901px) {
        width: 33%;
    }

    @media screen and (max-width:601px) {
      width: 90%;
      align-items: start;
    }
}

.footer-icons {
  display: flex;
  gap: 10px;

  a i {
    font-size: 2rem !important;
    color: #fff;
  }
}

.footer-items {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width:601px) {
    gap: 30px;
    justify-content: center;
  }

  
}
.footer-links-tutucu {
  text-decoration: none;
  align-items: center;
  display: flex;
  gap: 10px;
  color: #f6f9fe !important;
  
  i {
    font-size: 1rem ;
  }


  a {
    text-decoration: none;
    font-size: 1rem ;
    color: #f6f9fe !important;

  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-second {
  background-color: #4232c2 !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.footer-second-body {
  display: flex;
  justify-content: space-around  ;
  font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    color: #f6f9fe !important;  

    @media screen and (max-width:901px) {
      flex-direction: column;
      gap: 30px;
      align-items: center;
      text-align: center;
    }
}

.footer-second-body-by {
  display: flex;
  gap: 30px;

  @media screen and (max-width:901px) {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}