.photos {
    width: 100%;
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    img {
        width: 100%;
    }
    
}
.photos_img {
    width: 19%;

    @media screen and (max-width:991px) {
        width: 30%;
    }

    @media screen and (max-width:761px) {
        width: 45%;
    }

    @media screen and (max-width:561px) {
        width: 90%;
    }
}

